* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

a {
    text-decoration: none;
    
}

ul {
    list-style-type: none;
}

p{
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color: #FF5757;
}

.btn {
    margin-top: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid black;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}

.btn-social {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
}

.btn-outline {
    color: black;
    border-color: black;
    background-color: transparent;

}

.btn-outline:hover {
    color: #212529;
    background-color: black;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.text-uppercase {
    text-transform: uppercase;
}

/*Navbar*/

nav {
   
    width: 100%;
    font-family: 'Caveat', cursive;
    background-color: white;
    color: #FF5757 ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    transition: 2s;
    
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    
}

#logo-box {
    width: 40%;
    float: left;
    padding-top: 0.5rem;
    text-align: center;
    font-family: 'Caveat', cursive;

}
#logo-box .logo {
    color:  #FF5757;
    font-weight: 700;
    font-size: 2.5rem;

}

#nav-links {
    float: right;
    width: 60%;
    text-align: center;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #FF5757 ;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #1ABC9B;
}

.social {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

@media (max-width:800px) {
    .icon-btn {
        display: none !important;
    }
}

[class^="icon-btn"]

/*.icon-btn*/
    {
    height: 45px;
    width: 45px;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    line-height: 45px;
    transition: ease-in-out .3s;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #F7F7F7;
}


.instagram {
    color: #c32aa3;
}

.whatsapp {
    color: #ff0000;
}

.icon-btn:hover {
    transform: scale(1.10);
    color: #FFFFFF;
}


.instagram:hover {
    background-color: #c32aa3;
}

.whatsapp:hover {
    background-color: #ff0000;
}

a.link {
    color: inherit;
}


.modeller {
    padding-top: 6rem;
    padding-bottom: 6rem;


}
.img_list {
    margin-left: 12rem;
    display: inline-block;
}



.foto{
    margin-left: 500px;
    padding-bottom: 30px;
}
#hakkımızda{
    padding-bottom: 2.5%;
}
.hakkımızda{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: xx-large;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
}

.yukarı{
    color: #212529;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-left: 680px;
    padding-bottom: 30px
   
}
.hanzade{
    margin-top: 12%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    
   
    
    
}
.slogan{
    width: 100%;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: 'Caveat', cursive;
}

.tüy{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}
.tüy2{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 2.5%;
    
}
.tüy3{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 7.5%;
    
}

.kolaj{
 margin-left: 12%;
 padding-top: 2.5%;
 padding-bottom: 2.5%;
}
