* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.btn {
    margin-top: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid black;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}

.btn-social {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
}

.btn-outline {
    color: black;
    border-color: black;
    background-color: transparent;

}

.btn-outline:hover {
    color: #212529;
    background-color: black;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.text-uppercase {
    text-transform: uppercase;
}

/*Navbar*/

nav {
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}

#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;

}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #1ABC9B;
}







.social {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

@media (max-width:800px) {
    .icon-btn {
        display: none !important;
    }
}

[class^="icon-btn"]

/*.icon-btn*/
    {
    height: 45px;
    width: 45px;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    line-height: 45px;
    transition: ease-in-out .3s;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #F7F7F7;
}


.instagram {
    color: #c32aa3;
}

.whatsapp {
    color: #ff0000;
}

.icon-btn:hover {
    transform: scale(1.10);
    color: #FFFFFF;
}


.instagram:hover {
    background-color: #c32aa3;
}

.whatsapp:hover {
    background-color: #ff0000;
}

a.link {
    color: inherit;
}

footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    display: flexbox;
}

footer h4 {
    font-size: 2rem;
}

footer p {
    font-size: 1.7rem;
    margin-top: 1rem;
}

footer li {
    display: inline-block;
}

.modeller {
    padding-top: 6rem;
    padding-bottom: 6rem;


}
.img_list {
    margin-left: 12rem;
    display: inline-block;
}
.button{
    width: 15rem;
}